openapi: 3.1.0
info:
  title: 法律偵探 判決檢索
  description: |
    搜尋並讀取臺灣司法判決,回傳可驗證的法院案號與判決連結。
    供 ChatGPT 自訂 GPT 的 Actions 使用。免認證。
  version: "1.0.0"
servers:
  - url: https://tlr.dr-lawbot.com
    description: 法律偵探 判決檢索服務
paths:
  /v1/search:
    post:
      operationId: searchJudgments
      summary: 搜尋臺灣判決
      description: |
        用法律議題、關鍵字、案號、法院名稱或法條搜尋臺灣判決,
        回傳判決資訊與簡短摘錄。回答前必須先呼叫本功能;若無結果請明說,
        不可虛構引用。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: 繁體中文搜尋字串。可填法律議題、關鍵字、案號、法院名稱或法條。
                  maxLength: 500
                max_results:
                  type: integer
                  description: 回傳筆數,1 到 20,預設 10。
                  minimum: 1
                  maximum: 20
                  default: 10
      responses:
        "200":
          description: 搜尋結果
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        rank:
                          type: integer
                          description: 結果排名。
                        doc_id:
                          type: string
                          description: 判決識別碼,讀取全文時使用。
                        citation_text:
                          type: string
                          description: 完整法院案號,引用時必須原文使用。
                        court_name:
                          type: string
                        jdate:
                          type: string
                          description: 判決日期。
                        case_category:
                          type: string
                        snippet:
                          type: string
                          description: 供引用識別的摘錄,非完整內容。
                        citation_url:
                          type: string
                          description: dr-lawbot.com 判決原文連結。
                        result_token:
                          type: string
                          description: 讀取此判決全文時必須帶上的代碼。
  /v1/fulltext:
    post:
      operationId: getJudgmentFulltext
      summary: 讀取判決內文
      description: |
        取得指定判決的可用內文,僅在搜尋摘錄不足以做法律分析時使用。
        必須帶上來自最近一次搜尋回應的 result_token。
        引用文字必須與搜尋回傳的 citation_text 完全一致。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [doc_id, result_token]
              properties:
                doc_id:
                  type: string
                  description: 來自最近一次搜尋回傳的 doc_id。
                result_token:
                  type: string
                  description: 來自包含此 doc_id 的搜尋回應。
      responses:
        "200":
          description: 判決內文
          content:
            application/json:
              schema:
                type: object
                properties:
                  doc_id:
                    type: string
                  citation_text:
                    type: string
                  court_name:
                    type: string
                  jdate:
                    type: string
                  text_excerpt:
                    type: string
                    description: 判決可用內文節錄,不一定是完整原文。
                  cited_articles:
                    type: array
                    items:
                      type: string
                    description: 該判決引用的法條列表(可萃取者)。
                  citation_url:
                    type: string
